version: 2
jobs:
  build:
    docker:
      - image: circleci/10-browsers
    steps:
      - checkout
      - run:
          name: NPM update
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
workflows:
  version: 2
  build_and_test:
    jobs:
      - build